TenThousand_IPhone.xcodeproj/project.xcworkspace/xcuserdata/*
TenThousand_IPhone.xcodeproj/xcuserdata/*
*.swp
build/*
TenThousand_IPhone.xcodeproj/xcuserdata/ball.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
